{% load static %}


<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Blog</title>
  <!-- reset.css : meyerweb -->
  <link rel="stylesheet" href="{% static 'blog/css/reset.css' %}" />
  <!-- font : pretendard -->
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
  <link rel="stylesheet" href="{% static 'blog/css/global.css' %}" />

  <!-- layout -->
  <link rel="stylesheet" href="{% static 'blog/css/header.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/css/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/css/about.css' %}" />

  <!-- component -->
  <link rel="stylesheet" href="{% static 'blog/css/button.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/css/banner.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/css/category.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/css/author.css' %}" />

  <link rel="stylesheet" href="{% static 'blog/css/post.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/css/posts.css' %}" />
  <link rel="stylesheet" href="{% static 'blog/css/main.css' %}" />
</head>

<body>
  <!-- header -->
  {% include "./widget/header.html" %}
  <!--// header -->

  <!-- main -->
  <main>
    <div class="max-width">
      <form method="post" enctype="multipart/form-data" action="{% url 'blog:edit' nickname %}">
        {% csrf_token %}
        {{ form.as_p }}
        {{ image.as_p }}
        <input type="submit" class="btn btn-outline-success">
      </form>
    </div>
  </main>
  <!-- //main -->
  <!-- footer -->
  {% include "./widget/footer.html" %}
  <!-- //footer -->
</body>

</html>