{% load static %}

<a href="{% url 'blog:detail' pk=comment.pk %}" class="post">
  <div class="comment-container">
    <dl class="author-wrap parent-wrap">

      {% if comment.user.profile_image %}
      <dd class="author"><img src="{{comment.user.profile_image.image.url}}" alt="" />
        {% else %}
      <dd class="author"><img src="{% static 'blog/images/unkwon_user.png' %}" alt="" />
        {% endif %}
        {{comment.user.nickname}}
      </dd>
      <dd class="created">{{comment.created_at}}</dd>
    </dl>
    <div>{{comment.get_markdown_body}}</div>
  </div>
</a>