{% load static %}

<div class="inner">
  <!-- author -->
  <dl class="author-wrap">
    <dt class="a11y-hidden">Author</dt>
    {% if post.user.profile_image %}
    <dd class="author"><img src="{{post.user.profile_image.image.url}}" alt="" />
      {% else %}
    <dd class="author"><img src="{% static 'blog/images/unkwon_user.png' %}" alt="" />
      {% endif %}
      {{post.user.nickname}}
    </dd>
    <dt class="a11y-hidden">Created</dt>
    <dd class="created">{{post.created_at}}</dd>

    {% if post.user == user.profile %}
    <div class="btn-group">
      <a href="{%url 'blog:update' pk=post.pk%}" class="btn-modify">
        <span class="a11y-hidden">modify</span>
      </a>
      <form method="post" action="{% url 'blog:delete' pk=post.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn-delete">
          <span class="a11y-hidden">delete</span>
        </button>
      </form>
    </div>
    {% endif %}
  </dl>
  <!-- //author -->

  <!-- category -->
  <dl class="category">
    <dt class="a11y-hidden">Category</dt>
    {% for hashtag in hashtags %}
    <dd>{{hashtag.name}}</dd>
    {% endfor %}
  </dl>
  <!-- //category -->
  <div class="title-wrap">
    <h2>{{post.title}}</h2>
    <button class="btn-like">{{likes|length}}</button>
  </div>
  <div id="viewer">{{post.get_markdown_body }}</div>
  {% for comment in comments %}
  {% include "./comment_container.html" %}
  {% endfor %}
  <a href="javascript:history.back()" class="btn-back">
    <span class="a11y-hidden">Back</span>
  </a>
</div>