{% load static %}

<header>
  <div class="max-width">
    <h1>
      <a href="{%url 'blog:index' %}">
        <img src="{% static 'blog/assets/Logo.svg' %}" alt="My Blog" />
      </a>
    </h1>
    <ul>
      <!-- 로그인 -->
      <li class="profile-img">
        <a href="#">
          <img src="{% static 'blog/assets/profile.jpg' %}" alt="My Page" />
        </a>
      </li>
      <li>
        <a href="#" class="button">
          <img src="{% static 'blog/assets/icon-modify-white.svg' %}" alt="" />
          <span>Write</span>
        </a>
      </li>
      <li>
        <!-- <a href="{% url 'social:begin' 'google-oauth2' %}">Google로 로그인</a> -->
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <img src="{% static 'blog/assets/icon-logout.svg' %}" alt="" />
        </a>


        <!-- <button class="button white">
          <img src="{% static 'blog/assets/icon-logout.svg' %}" alt="" />
          <span>Logout</span> -->
        </button>
      </li>
      <!-- //로그인 -->

      <!-- 로그아웃 -->
      <!--
        <li>
          <a href="#" class="button gray">
            <img src="./assets/icon-login.svg" alt="" />
            <span>Login</span>
          </a>
        </li>
        <li class="only-pc">
          <a href="#" class="button gray">
            <img src="./assets/icon-register.svg" alt="" />
            <span>Register</span>
          </a>
        </li>
        -->
      <!--// 로그아웃 -->
    </ul>
  </div>
</header>