{% load static %}

<header>
  <div class="max-width">
    <h1>
      <a href="{%url 'blog:index' %}">
        <img src="{% static 'blog/assets/Logo.svg' %}" alt="My Blog" />
      </a>
    </h1>
    <ul>
      {% if request.user.is_authenticated %}
      <li class="profile-img">
        <a href="{% url 'blog:user' user.profile.nickname %}">
          {% if user.profile.profile_image %}
          <img src="{{user.profile.profile_image.image.url}}" alt="My Page" />
          {% else %}
          <img src="{% static 'blog/images/unkwon_user.png' %}" alt="My Page" />
          {% endif %}
        </a>
        </a>
      </li>
      <li>
        {% if request.resolver_match.url_name == 'write' or request.resolver_match.url_name == 'update' %}
        <button type="submit" class="button">
          <img src="{% static 'blog/assets/icon-modify-white.svg' %}" alt="" />
          <span>작성 완료</span>
        </button>
        {% else %}
        <a href="{%url 'blog:write' %}" class="button">
          <img src="{% static 'blog/assets/icon-modify-white.svg' %}" alt="" />
          <span>Write</span>
        </a>
        {% endif %}

      </li>
      <li>
        <a href="{% url 'user:logout' %}">
          <img src="{% static 'blog/assets/icon-logout.svg' %}" alt="" />
        </a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <img src="{% static 'blog/assets/btn_google_signin_dark_normal_web.png' %}" alt="" />
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>