{% load static %}
<a href="{% url 'blog:detail' pk=post.parent_post.pk %}" class="post">
  <div class="parent-container">
    <dl class="author-wrap parent-wrap">

      {% if post.parent_post.user.profile_image %}
      <dd class="author"><a href="{% url 'blog:user' post.parent_post.user.nickname%}"><img
            src="{{post.parent_post.user.profile_image.image.url}}" alt="" /></a>
        {% else %}
      <dd class="author"><a href="{% url 'blog:user' post.parent_post.user.nickname%}"><img
            src="{% static 'blog/images/unkwon_user.png' %}" alt="" /></a>
        {% endif %}
        <a href="{% url 'blog:user' post.parent_post.user.nickname%}">{{post.parent_post.user.nickname}}</a>
      </dd>
      <dd class="created">{{post.parent_post.created_at}}</dd>
    </dl>
    <p class="parent-text">{{post.parent_post.title}}</p>
  </div>
</a>