{% load static %}
{% load humanize %}

<li>
  <a href="{% url 'blog:detail' pk=post.post.pk %}" class="post">
    <article>
      <img src="{{post.post.thumbnail.image.url}}" alt="" />
      <div class="contents-wrap">
        <!-- category -->
        <dl class="category">
          <dt class="a11y-hidden">Category</dt>
          {% for hashtag in post.hashtag %}
          <dd>{{hashtag.name}}</dd>
          {% endfor %}
        </dl>
        <!-- //category -->
        <!-- author -->
        <dl class="author-wrap">
          <dd class="author"><img src="{% static 'blog/images/profile.jpg' %}" alt="" /></dd>
          <dd class="author">
            <div>
              <div class="post-intro-title">{{post.post.title}}</div>
              <p>{{post.post.user.username}}</p>
              <p>{{post.post.created_at|timesince}}</p>
            </div>
          </dd>
        </dl>
        <!-- //author -->

        <p class="post-description">{{post.post.body}}</p>
      </div>
    </article>
  </a>
</li>