{% load static %}
{% load humanize %}

<li>
  <a href="{% url 'blog:detail' pk=post.post.pk %}" class="post">
    <article>
      <img src="{{post.post.thumbnail.image.url}}" alt="" />
      <div class="contents-wrap">
        <!-- category -->
        <dl class="category">
          <dt class="a11y-hidden">Category</dt>
          {% for hashtag in post.hashtag %}
          <dd>{{hashtag.name}}</dd>
          {% endfor %}
        </dl>
        <!-- //category -->
        <!-- author -->
        <dl class="author-wrap">
          {% if post.post.user.profile_image %}
          <dd class="author-container">
            <img src="{{post.post.user.profile_image.image.url}}" alt="" />
          </dd>
          {% else %}
          <a href="{% url 'blog:user' post.post.user.nickname%}">
            <dd class="author-container">
              <img src="{% static 'blog/images/unkwon_user.png' %}" alt="" />
            </dd>
          </a>
          {% endif %}
          <dd class="author">
            <div>
              <div class="post-intro-title">{{post.post.title}}</div>
              <p>{{post.post.user.nickname}}</p>
              <p>{{post.post.created_at|timesince}}</p>
            </div>
          </dd>
        </dl>
        <!-- //author -->

        <p class="post-description">{{post.post.get_markdown_body_str }}</p>
      </div>
    </article>
  </a>
</li>